<%= render 'error'%>
<h1>Alterar modalidade de entrega</h1>

<%= form_with(model: @expressa) do |f| %>
  <div>
    <%= f.label :flat_fee %>
    <%= f.text_field :flat_fee %>
  </div>
  <div>
    <%= f.label :status %>
    <%= f.select :status, Expressa.statuses.keys.to_a %>
  </div>
  <%= f.submit 'Salvar' %>
<% end %>
<%= link_to 'Sair', destroy_user_session_path %>
<%= link_to 'Voltar', expressas_path %>
<%= button_tag "Reset", type: :reset %>
