<%= render 'error'%>
<h2>Modalidade de transporte Expressa</h2>
<div class="col-xs-6">
<h3 class="sub-header">Configuração de preços por distância</h3>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="col-md-1">Distância mínima</th>
        <th class="col-md-2">Distância máxima</th>
        <th class="col-md-3">Preço</th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <% if @price_distances.any? %>
        <% @price_distances.each do |pd| %>
          <tr>
            <td class="col-md-1"> <%= pd.min_distance %>km </td> 
            <td class="col-md-2"> <%= pd.max_distance %>km </td> 
            <td class="col-md-3"> <%= number_to_currency(pd.price, :unit => "R$ ", :separator => ",", :delimiter => ".") %> </td> 
            <% if current_user.admin? %>
              <td class="col-md-3"> <%= link_to 'Editar intervalo', edit_third_price_distance_path(pd.id) %></td>
            <% end %>
          <tr>
        <% end%>
      <% end %>
      <% if current_user.admin? %>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td class="col-md-3"><%= link_to 'Cadastrar intervalo', new_third_price_distance_path %></td>
        </tr>
      <% end %>
    </tr>
    </tbody>
  </table>
</div>
<div class="col-xs-6">
<h3 class="sub-header">Configuração de prazo por distância</h3>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th class="col-md-1">Distância mínima</th>
        <th class="col-md-2">Distância máxima</th>
        <th class="col-md-3">Prazo</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <% if @delivery_time_distances.any? %>
          <% @delivery_time_distances.each do |dt| %>
            <tr>
              <td class="col-md-1"> <%= dt.min_distance %>km </td> 
              <td class="col-md-2"> <%= dt.max_distance %>km </td> 
              <td class="col-md-3"> <%= dt.delivery_time %>h </td> 
              <% if current_user.admin? %>
                <td class="col-md-3"> <%= link_to 'Editar intervalo', edit_third_delivery_time_distance_path(dt.id) %></td>
              <% end  %>
            <tr>
          <% end%>
        <% end %>
        <% if current_user.admin? %>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td class="col-md-3"><%= link_to 'Cadastrar intervalo', new_third_delivery_time_distance_path %></td>
          </tr>
        <% end %>
      </tr>
      </tbody>
    </table>
  </div>
<div class="col-xs-6">
<h3 class="sub-header">Peso | Valor por km</h3>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th class="col-md-1">Peso mínimo</th>
        <th class="col-md-2">Peso máximo</th>
        <th class="col-md-3">Valor por km</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <% if @price_weights.any? %>
          <% @price_weights.each do |pw| %>
            <tr>
              <td class="col-md-1"> <%= pw.min_weight %>kg </td> 
              <td class="col-md-2"> <%= pw.max_weight %>kg </td> 
              <td class="col-md-3"> <%= number_to_currency(pw.price, :unit => "R$ ", :separator => ",", :delimiter => ".") %> </td> 
              <% if current_user.admin? %>
                <td class="col-md-3"> <%= link_to 'Editar intervalo', edit_third_price_weight_path(pw.id) %></td>
              <% end  %>
            <tr>
          <% end%>
        <% end %>
        <% if current_user.admin? %>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td class="col-md-3"><%= link_to 'Cadastrar intervalo', new_third_price_weight_path %></td>
          </tr>
        <% end %>
      </tr>
      </tbody>
    </table>
  </div>

Status: <%= @expressa.status.capitalize %>
</div>
<% if @expressa.flat_fee.nil? && current_user.admin? %>
  <%= link_to 'Cadastrar taxa fixa', edit_expressa_path(@expressa.id) %>
<% end %>
<% if current_user.admin? %>
  <%= link_to 'Editar', edit_expressa_path(@expressa.id) %>
<% end %>
Taxa fixa: <%= number_to_currency(@expressa.flat_fee, :unit => "R$ ", :separator => ",", :delimiter => ".") %><br/>
<%= link_to 'Voltar', root_path %>
<%= link_to 'Sair', destroy_user_session_path %>






