<h1>Cadastrar Taxa</h1>

<%= form_with(model: @expressa) do |f| %>
  <div>
    <%= f.label :flat_fee %>
    <%= f.number_field :flat_fee %>
  </div>
  <%= f.submit 'Salvar' %>
<% end %>

<%= link_to 'Voltar', expressas_path %>
<%= link_to 'Sair', destroy_user_session_path %>