<% if user_signed_in? %>
  <h1>Sistema de frete</h1><br/>
 

  <h2>Selecione a opção desejada:</h2><br/>
  <h3>Modalidades de transporte:</h3><br/>
  <%= link_to 'Modalidades de transporte', shipping_methods_path %> <br/>
  <h3> Ordens de serviço </h3>
  <%= link_to 'Ordens de serviço', work_orders_path %>
  <h3>Veículos</h3> 
  <%= link_to 'Busca por veículo', search_vehicles_path %> 
  <%= link_to 'Ver veículos', vehicles_path %> 
<% else %>
  <%= link_to 'Consultar entrega', work_orders_path %>
<% end %>
