<h2>Modalidade de transporte: <%= @shipping_method.name %></h2>
<div class="col-xs-6">
  <h3>Taxa fixa: R$ <%= @shipping_method.flat_fee %></h3>
  <h2 class="sub-header">Configuração de preços por distância</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="col-md-1">Distância mínima</th>
          <th class="col-md-2">Distância máxima</th>
          <th class="col-md-3">Preço</th>
        </tr>
      </thead>
      <tbody>
        <% min_dp = @shipping_method.min_distance_price.split(/,/) %>
        <% max_dp = @shipping_method.max_distance_price.split(/,/) %>
        <% df = @shipping_method.distance_fee.split(/,/) %>
        <% min_dp.each_with_index do |dp,i|%>
          <tr>
            <td class="col-md-1"><%= dp %> m</td>
            <td class="col-md-2"><%= max_dp[i]%> m</td>
            <td class="col-md-3">R$ <%= df[i] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="col-xs-6">
<h2 class="sub-header">Configuração de preços por peso</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="col-md-2">Peso mínimo</th>
        <th class="col-md-3">Peso máximo</th>
        <th class="col-md-1">Preço</th>
      </tr>
    </thead>
    <tbody>
      <% min_w = @shipping_method.min_weight.split(/,/) %>
      <% max_w = @shipping_method.max_weight.split(/,/) %>
      <% wf = @shipping_method.weight_fee.split(/,/) %>
      <% min_w.each_with_index do |w,i|%>
        <tr>
          <td class="col-md-1"><%= w %> kg</td>
          <td class="col-md-2"><%= max_w[i]%> kg</td>
          <td class="col-md-3">R$ <%= wf[i] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="col-xs-6">
<h2 class="sub-header">Prazos x Distância</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="col-md-2">Distância mínima</th>
        <th class="col-md-3">Distância máxima</th>
        <th class="col-md-1">Prazo</th>
      </tr>
    </thead>
    <tbody>
      <% min_dd = @shipping_method.min_distance_deadline.split(/,/) %>
      <% max_dd = @shipping_method.max_distance_deadline.split(/,/) %>
      <% deadline = @shipping_method.delivery_time.split(/,/) %>
      <% min_dd.each_with_index do |dd,i|%>
        <tr>
          <td class="col-md-1"><%= dd %> km</td>
          <td class="col-md-2"><%= max_dd[i] %> km</td>
          <td class="col-md-3"><%= deadline[i] %> h</td>
        </tr>
      <% end %>
    </tbody>
  </table>
<td><%= link_to 'Voltar', shipping_methods_path %></td>

<% if current_user.admin %>
  <%= link_to 'Alterar status', edit_shipping_method_path %>
<% end %>