<h1>Alterar status</h1>
<%= link_to 'Voltar', vehicle_path(@vehicle.id) %>
<%= form_with(model:@vehicle) do |f|%>
  <div>
    <%= f.label :status  %>
    <%= f.select :status, Vehicle.statuses.keys.map { |status| [Vehicle.human_enum_name(:status, status), status] } %>
  </div>
  <%= f.submit 'Salvar' %>
<% end %>
