<%= render 'error' %>
<h1>Cadastrar Veículo</h1>
<%= form_with(model: @vehicle) do |f| %>
  <div>
    <%= f.label :brand_name %>
    <%= f.text_field :brand_name %>
  </div><br/>
  <div>
    <%= f.label :model %>
    <%= f.text_field :model %>
  </div><br/>
  <div>
    <%= f.label :fabrication_year %>
    <%= f.text_field :fabrication_year %>
  </div><br/>
  <div>
    <%= f.label :license_plate %>
    <%= f.text_field :license_plate %>
  </div><br/>
  <div>
    <%= f.label :full_capacity %>
    <%= f.number_field :full_capacity %>
  </div><br/>
  <div><br/>
  <% if @shipping_methods.present? %>
    <%= 'Modalidades' %><br/>
    <% @shipping_methods.each do |sm|%>
        <%= f.radio_button :shipping_method_id, sm.id %> 
        <%= f.label :shipping_method_id, sm.id, :value => "#{sm.id}"%> - <%= sm.name %>
    </div><br/>
    <% end %>
    <%= f.submit 'Salvar' %>
  <% end %>
<% end %>

<%= link_to 'Voltar', vehicles_path %>
<%= link_to 'Sair', destroy_user_session_path %>