<%= link_to 'Voltar', vehicles_path %>
<%= form_with(url: search_vehicles_path, method: :get) do |f| %>
  <%= f.label :query, 'Buscar veículo' %>
  <%= f.search_field :query %>
  <%= f.select :status, Vehicle.statuses.keys.map { |status| [Vehicle.human_enum_name(:status, status), status] } %>
  <%= f.submit 'Buscar' %>
<%end%>

<% if @vehicles.present? %>
<h1>Resultados da busca:</h1>
<% @vehicles.each do |vehicle| %>
<dl>
  <dt><%= 'Modelo:' %></dt> 
  <dd><%= vehicle.brand_name_and_model %>
  <dt><%= 'Status: '%></dt> 
  <dd><%= Vehicle.human_enum_name(:status, vehicle.status) %></dd><br/>
  <dt><%= link_to "Ver detalhes", vehicle_path(vehicle.id) %></dt> 
<% end %>
<% end %>



